.border{
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(237, 240, 241);
    color: black;
    padding: 3px;
    transition: all 0.3s;
}

.border:hover{
    transform: scale(1.03);
}